.com-tl-body{
    background: #F4F5F9;
    overflow: auto;
    margin-left: 26px;
    padding-left: 4px;
}
.com-tl-body-ul{
    list-style-type:none;
    padding-left: 0px;
    margin: 0px;
    text-align: left;
    padding-top: 8px;

}
.com-tl-body-ul-li{
    width:320px;
    height:48px;
    background:rgba(251,251,251,1);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.24);
    border-radius: 2px;
    border: 2px solid #fbfbfb;

    font-size:16px;
    font-family:PingFangSC-Regular;
    color:rgba(74,74,74,1);
    line-height:46px;
    padding-left: 13px;
    margin-bottom: 12px;

    transition: all 0.3s;

    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;
}

.com-tl-body-ul-li-span1{
    flex: 1;

    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.com-tl-body-ul-li-span2{
    display: none;
    padding: 0 12px;
}

.com-tl-body-ul-li:hover .com-tl-body-ul-li-span2{
    display: inline-block;
    color: #3C64B3;
}

.com-tl-body-ul-li-active .com-tl-body-ul-li-span2{
    display: inline-block;
}

.com-tl-body-ul-li-active{
    color: #3C64B3;
    background: #E6EAFA;
    border: 2px solid #9DBEFE;
}
.com-tl-body-ul-li:hover{
    border: 2px solid #9DBEFE;
    color: #3C64B3;
}
